# Byte-compiled
__pycache__/
*.py[cod]
*.class

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
.env
.env.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
